1. Title: Auto-Mpg Data

2. Sources:
   (a) Origin:  This dataset was taken from the StatLib library which is
                maintained at Carnegie Mellon University. The dataset was 
                used in the 1983 American Statistical Association Exposition.
   (c) Date: July 7, 1993

3. Past Usage:
    -  See 2b (above)
    -  Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning.
       In Proceedings on the Tenth International Conference of Machine 
       Learning, 236-243, University of Massachusetts, Amherst. Morgan
       Kaufmann.

4. Relevant Information:

   This dataset is a slightly modified version of the dataset provided in
   the StatLib library.  In line with the use by Ross Quinlan (1993) in
   predicting the attribute "mpg", 8 of the original instances were removed 
   because they had unknown values for the "mpg" attribute.  The original 
   dataset is available in the file "auto-mpg.data-original".

   "The data concerns city-cycle fuel consumption in miles per gallon,
    to be predicted in terms of 3 multivalued discrete and 5 continuous
    attributes." (Quinlan, 1993)

5. Number of Instances: 398

6. Number of Attributes: 9 including the class attribute

7. Attribute Information:

    1. mpg:           continuous
    2. cylinders:     multi-valued discrete
    3. displacement:  continuous
    4. horsepower:    continuous
    5. weight:        continuous
    6. acceleration:  continuous
    7. model year:    multi-valued discrete
    8. origin:        multi-valued discrete
    9. car name:      string (unique for each instance)

8. Missing Attribute Values:  horsepower has 6 missing values

Import Liabrary

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [25]:
data = pd.read_csv("auto-mpg.data-original", sep="\t")

In [26]:
data.head()

,18.0 8. 307.0 130.0 3504. 12.0 70. 1.,chevrolet chevelle malibu
0,15.0 8. 350.0 165.0 3693. 1...,buick skylark 320
1,18.0 8. 318.0 150.0 3436. 1...,plymouth satellite
2,16.0 8. 304.0 150.0 3433. 1...,amc rebel sst
3,17.0 8. 302.0 140.0 3449. 1...,ford torino
4,15.0 8. 429.0 198.0 4341. 1...,ford galaxie 500

In [27]:
data.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'car_name']

ValueError: Length mismatch: Expected axis has 2 elements, new values have 9 elements