In [2]:
import pandas as pd
import numpy as np

In [3]:
d=pd.read_csv("employee_data.csv")

In [4]:
d.head()

   Emploee_ID  Gender Remarks
0          45    Male    Nice
1          78  Female    Good
2          56  Female   Great
3          12    Male   Great
4           7  Female    Nice

In [5]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Emploee_ID  12 non-null     int64
 1   Gender      12 non-null     object
 2   Remarks     12 non-null     object
dtypes: int64(1), object(2)
memory usage: 416.0+ bytes

In [6]:
d['Remarks'].unique()

array(['Nice', 'Good', 'Great'], dtype=object)

In [7]:
d['Remarks'].value_counts()

Nice     5
Great    4
Good     3
Name: Remarks, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
lable_x=LabelEncoder()
lable_encoded_remarks = lable_x.fit_transform(d['Remarks'])

In [10]:
lable_encoded_remarks

array([2, 0, 1, 1, 2, 1, 0, 2, 1, 2, 0, 2])

In [11]:
lable_encoded_remarks = pd.DataFrame(data=lable_encoded_remarks, columns=['Remarks'])

In [12]:
lable_encoded_remarks

    Remarks
0         2
1         0
2         1
3         1
4         2
5         1
6         0
7         2
8         1
9         2
10        0
11        2

In [13]:
k=d
k.assign(Remarks=lable_encoded_remarks['Remarks'])

    Emploee_ID  Gender  Remarks
0           45    Male        2
1           78  Female        0
2           56  Female        1
3           12    Male        1
4            7  Female        2
5           68  Female        1
6           23    Male        0
7           45  Female        2
8           89    Male        1
9           75  Female        2
10          47  Female        0
11          62    Male        2

One Hot Encoding

In [18]:
one_hot_encoded_data = pd.get_dummies(d,columns=['Gender','Remarks'])

In [19]:
one_hot_encoded_data

,Emploee_ID,Gender_Female,Gender_Male,Remarks_Good,Remarks_Great,Remarks_Nice
0,45,0,1,0,0,1
1,78,1,0,1,0,0
2,56,1,0,0,1,0
3,12,0,1,0,1,0
4,7,1,0,0,0,1
5,68,1,0,0,1,0
6,23,0,1,1,0,0
7,45,1,0,0,0,1
8,89,0,1,0,1,0
9,75,1,0,0,0,1
10,47,1,0,1,0,0
11,62,0,1,0,0,1