In [1]:
import pandas as pd

In [2]:
data  = pd.read_csv("D:\DATASET for ML Practicals/pima-indians-diabetes.csv")

In [3]:
data.head()

,Number_pregnant,Glucose_concentration,Blood_pressure,Triceps,Insulin,BMI,Pedigree,Age,Class
0,6,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,50,1
1,1,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,31,0
2,8,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,32,1
3,1,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,21,0
4,0,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,33,1

In [4]:
x = data.drop('Class',axis=1)

In [5]:
x.head()

,Number_pregnant,Glucose_concentration,Blood_pressure,Triceps,Insulin,BMI,Pedigree,Age
0,6,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,50
1,1,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,31
2,8,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,32
3,1,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,21
4,0,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,33

In [7]:
y = data['Class']

In [9]:
y = pd.DataFrame(y)

In [10]:
y.head()

   Class
0      1
1      0
2      1
3      0
4      1

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
xtrain, xtest , ytrain, ytest = train_test_split(x,y,test_size=0.2)

In [15]:
xtrain.shape

(614, 8)

In [16]:
xtest.shape

(154, 8)

In [17]:
ytrain.shape

(614, 1)

In [18]:
ytest.shape

(154, 1)

In [19]:
from sklearn.neighbors import KNeighborsClassifier

In [71]:
classifier = KNeighborsClassifier(n_neighbors=111)

In [72]:
classifier.fit(xtrain,ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=111, p=2,
           weights='uniform')

In [73]:
ypred = classifier.predict(xtest)

In [74]:
ypred

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [75]:
from sklearn.metrics import accuracy_score

In [76]:
accuracy_score(ytest,ypred)

0.7337662337662337

In [77]:
from sklearn.metrics import f1_score

In [78]:
f1_score(ytest,ypred)

0.4810126582278481