<h1 style='color: gold; text-align: center; font-family: cursive;font-size: 30px;'>Pima Indian Dataset</h1>

<h1 style='color: rgb(77, 229, 240); text-align: left; font-family: cursive;font-size: 20px;'>Importing Modules</h1>

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score 
from sklearn.metrics import f1_score

<h1 style='color: rgb(77, 229, 240); text-align: left; font-family: cursive;font-size: 20px;'>Loading Data...</h1>

In [26]:
data  = pd.read_csv("pima-indians-diabetes.csv")

In [27]:
data.head()

,Number_pregnant,Glucose_concentration,Blood_pressure,Triceps,Insulin,BMI,Pedigree,Age,Class
0,6,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,50,1
1,1,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,31,0
2,8,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,32,1
3,1,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,21,0
4,0,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,33,1

<h1 style='color: rgb(77, 229, 240); text-align: left; font-family: cursive;font-size: 20px;'>Split Training And Target Variables</h1>

In [28]:
x = data.drop('Class',axis=1)

In [29]:
x.head()

,Number_pregnant,Glucose_concentration,Blood_pressure,Triceps,Insulin,BMI,Pedigree,Age
0,6,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,50
1,1,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,31
2,8,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,32
3,1,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,21
4,0,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,33

In [30]:
y = data['Class']

In [31]:
y = pd.DataFrame(y)

In [32]:
y.head()

   Class
0      1
1      0
2      1
3      0
4      1

<h1 style='color: rgb(77, 229, 240); text-align: left; font-family: cursive;font-size: 20px;'>Divide Data into training and testing part</h1>

In [33]:
xtrain, xtest , ytrain, ytest = train_test_split(x,y,test_size=0.2)

In [34]:
xtrain.shape

(614, 8)

In [35]:
xtest.shape

(154, 8)

In [36]:
ytrain.shape

(614, 1)

In [37]:
ytest.shape

(154, 1)

<h1 style='color: rgb(77, 229, 240); text-align: left; font-family: cursive;font-size: 20px;'>Crete Object of algorithm</h1>

In [38]:
classifier = KNeighborsClassifier(n_neighbors=111)

<h1 style='color: #8f7be9; text-align: left; font-family: cursive;font-size: 20px;'>here target variable is 0 & 1 only so it lies under classification case so we use classifier</h1>

<h1 style='color: rgb(77, 229, 240); text-align: left; font-family: cursive;font-size: 20px;'>Model is learning </h1>

In [39]:
classifier.fit(xtrain,ytrain)

C:\Users\Prashant Patil\AppData\Roaming\Python\Python39\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=111)

<h1 style='color: rgb(77, 229, 240); text-align: left; font-family: cursive;font-size: 20px;'>Testing model</h1>

In [40]:
ypred = classifier.predict(xtest)

<h1 style='color: rgb(77, 229, 240); text-align: left; font-family: cursive;font-size: 20px;'>Final prediction</h1>

In [41]:
ypred

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

<h1 style='color: rgb(77, 229, 240); text-align: left; font-family: cursive;font-size: 20px;'>Evaluation Of Model</h1>

In [51]:
print ("Accuracy Score : ", round(accuracy_score(ytest,ypred)*100, 2),"%")

Accuracy Score :  67.53 %

In [53]:
print ("F1 Score : ", round(f1_score(ytest,ypred)*100, 2),"%")

F1 Score :  39.02 %