IMPORT MODULES

In [1]:
import pandas as pd
import numpy as np
import langid

LOAD DATA

In [2]:
ass = pd.ExcelFile('assignment gfg.xlsx')
df1 = pd.read_excel(ass, '2020-03-22')
df2 = pd.read_excel(ass, '2020-03-23')
df3 = pd.read_excel(ass, '2020-03-24')
df4 = pd.read_excel(ass, '2020-03-25')
df5 = pd.read_excel(ass, '2020-03-26')
df = [df1,df2,df3,df4,df5]

REMOVE UNWANTED ROWS AND COLOUMNS WHICH HAS ALL VALUES NULL

In [3]:
def remove(data):
    data = data.dropna(how = "all", axis =0)
    data = data.dropna(how = "all", axis =1)
    return data

RENAME THE COLUMN NAMES AS FIRST ROW AND REMOVE THE FIRST ROW

In [4]:
def rename(data):
    if data.index[0]==0:
        return data
    data=data.rename(columns=data.iloc[0])
    data = data.iloc[1: , :]
    return data

SEPERATE ENGLISH LANGUAGE TWEETS

In [5]:
def segregate(data):
    k=data.index[0]-1
    for i in data["text"]:
        i = str(i)
        t=langid.classify(i)
        k =k+1
        if t[0]!='en':
            data=data.drop(k)  

    return data

OPERATION ON ALL DATAFRAMES

In [6]:
tweets = []
for i in df:
    i=remove(i)
    i=rename(i)
    i=segregate(i)
    tweets.append(np.array(i['text']))

ARRAY OF DATES

In [7]:
date=np.array(['2020-03-22','2020-03-23','2020-03-24','2020-03-25','2020-03-26'])

CRETING DATA FRAME AND MAKE ARRAY OF TWEETS

In [8]:
ans = {     
       "DATE":date,
       "TWEETS":tweets
}
ans=pd.DataFrame(ans)

In [9]:
ans

         DATE                                             TWEETS
0  2020-03-22  [Packed UK concerts amid rising Covid-19 cases...
1  2020-03-23  [S/O to all the farmworkers working in the U.S...
2  2020-03-24  [@skinnergj https://t.co/qZSXk2m8mv lasts 17 d...
3  2020-03-25  [https://t.co/d1YvJQCDye https://t.co/S354Ha9T...
4  2020-03-26  [Coronavirus forces African Court to suspend 5...