<h1>Practcal 1

In [1]:
import pandas as pd

In [2]:
a=[4,987,8047,87,4087]

In [3]:
a

[4, 987, 8047, 87, 4087]

In [4]:
a = pd.Series(a)

In [5]:
a

0       4
1     987
2    8047
3      87
4    4087
dtype: int64

In [6]:
a = pd.Series(a,index=['kb','dnl','did','dh','ldbljd'])

In [7]:
a

kb       NaN
dnl      NaN
did      NaN
dh       NaN
ldbljd   NaN
dtype: float64

In [8]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

In [9]:
df.head()

   calories  duration
0       420        50
1       380        40
2       390        45

In [10]:
df.loc[1]

calories    380
duration     40
Name: 1, dtype: int64

In [11]:
df.loc[[0,1]]

   calories  duration
0       420        50
1       380        40

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
calories    3 non-null int64
duration    3 non-null int64
dtypes: int64(2)
memory usage: 128.0 bytes

In [57]:
data = pd.read_csv(r'C:\Users\Student\Downloads\dirtydata.csv')

In [42]:
data.head(40)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [43]:
data.dropna(inplace=True)

In [44]:
data

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [53]:
data["Calories"].fillna(9763,inplace=True)

In [54]:
data

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112    9763.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132    9763.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [55]:
mean_data_Calories = data["Calories"].mean()

In [58]:
data["Calories"].fillna(mean_data_Calories,inplace=True)

In [59]:
data

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130   409.100
1         60  '2020/12/02'    117       145   479.000
2         60  '2020/12/03'    103       135   340.000
3         45  '2020/12/04'    109       175   282.400
4         45  '2020/12/05'    117       148   406.000
5         60  '2020/12/06'    102       127   300.000
6         60  '2020/12/07'    110       136   374.000
7        450  '2020/12/08'    104       134   253.300
8         30  '2020/12/09'    109       133   195.100
9         60  '2020/12/10'     98       124   269.000
10        60  '2020/12/11'    103       147   329.300
11        60  '2020/12/12'    100       120   250.700
12        60  '2020/12/12'    100       120   250.700
13        60  '2020/12/13'    106       128   345.300
14        60  '2020/12/14'    104       132   379.300
15        60  '2020/12/15'     98       123   275.000
16        60  '2020/12/16'     98       120   215.200
17        60  '2020/12/17'    100       120   300.000
18        45  '2020/12/18'     90       112   895.825
19        60  '2020/12/19'    103       123   323.000
20        45  '2020/12/20'     97       125   243.000
21        60  '2020/12/21'    108       131   364.200
22        45           NaN    100       119   282.000
23        60  '2020/12/23'    130       101   300.000
24        45  '2020/12/24'    105       132   246.000
25        60  '2020/12/25'    102       126   334.500
26        60      20201226    100       120   250.000
27        60  '2020/12/27'     92       118   241.000
28        60  '2020/12/28'    103       132   895.825
29        60  '2020/12/29'    100       132   280.000
30        60  '2020/12/30'    102       129   380.300
31        60  '2020/12/31'     92       115   243.000

In [76]:
x = data["Calories"].mode()[0]

In [77]:
x

300.0

In [78]:
data["Date"] = pd.to_datetime(data['Date'])

In [79]:
data

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130   409.100
1         60 2020-12-02    117       145   479.000
2         60 2020-12-03    103       135   340.000
3         45 2020-12-04    109       175   282.400
4         45 2020-12-05    117       148   406.000
5         60 2020-12-06    102       127   300.000
6         60 2020-12-07    110       136   374.000
7        450 2020-12-08    104       134   253.300
8         30 2020-12-09    109       133   195.100
9         60 2020-12-10     98       124   269.000
10        60 2020-12-11    103       147   329.300
11        60 2020-12-12    100       120   250.700
12        60 2020-12-12    100       120   250.700
13        60 2020-12-13    106       128   345.300
14        60 2020-12-14    104       132   379.300
15        60 2020-12-15     98       123   275.000
16        60 2020-12-16     98       120   215.200
17        60 2020-12-17    100       120   300.000
18        45 2020-12-18     90       112   895.825
19        60 2020-12-19    103       123   323.000
20        45 2020-12-20     97       125   243.000
21        60 2020-12-21    108       131   364.200
22        45        NaT    100       119   282.000
23        60 2020-12-23    130       101   300.000
24        45 2020-12-24    105       132   246.000
25        60 2020-12-25    102       126   334.500
26        60 2020-12-26    100       120   250.000
27        60 2020-12-27     92       118   241.000
28        60 2020-12-28    103       132   895.825
29        60 2020-12-29    100       132   280.000
30        60 2020-12-30    102       129   380.300
31        60 2020-12-31     92       115   243.000

In [81]:
data.dropna(inplace=True)

In [82]:
data

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130   409.100
1         60 2020-12-02    117       145   479.000
2         60 2020-12-03    103       135   340.000
3         45 2020-12-04    109       175   282.400
4         45 2020-12-05    117       148   406.000
5         60 2020-12-06    102       127   300.000
6         60 2020-12-07    110       136   374.000
7        450 2020-12-08    104       134   253.300
8         30 2020-12-09    109       133   195.100
9         60 2020-12-10     98       124   269.000
10        60 2020-12-11    103       147   329.300
11        60 2020-12-12    100       120   250.700
12        60 2020-12-12    100       120   250.700
13        60 2020-12-13    106       128   345.300
14        60 2020-12-14    104       132   379.300
15        60 2020-12-15     98       123   275.000
16        60 2020-12-16     98       120   215.200
17        60 2020-12-17    100       120   300.000
18        45 2020-12-18     90       112   895.825
19        60 2020-12-19    103       123   323.000
20        45 2020-12-20     97       125   243.000
21        60 2020-12-21    108       131   364.200
23        60 2020-12-23    130       101   300.000
24        45 2020-12-24    105       132   246.000
25        60 2020-12-25    102       126   334.500
26        60 2020-12-26    100       120   250.000
27        60 2020-12-27     92       118   241.000
28        60 2020-12-28    103       132   895.825
29        60 2020-12-29    100       132   280.000
30        60 2020-12-30    102       129   380.300
31        60 2020-12-31     92       115   243.000

In [83]:
data.loc[7,'Duration'] =  45

In [84]:
data

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130   409.100
1         60 2020-12-02    117       145   479.000
2         60 2020-12-03    103       135   340.000
3         45 2020-12-04    109       175   282.400
4         45 2020-12-05    117       148   406.000
5         60 2020-12-06    102       127   300.000
6         60 2020-12-07    110       136   374.000
7         45 2020-12-08    104       134   253.300
8         30 2020-12-09    109       133   195.100
9         60 2020-12-10     98       124   269.000
10        60 2020-12-11    103       147   329.300
11        60 2020-12-12    100       120   250.700
12        60 2020-12-12    100       120   250.700
13        60 2020-12-13    106       128   345.300
14        60 2020-12-14    104       132   379.300
15        60 2020-12-15     98       123   275.000
16        60 2020-12-16     98       120   215.200
17        60 2020-12-17    100       120   300.000
18        45 2020-12-18     90       112   895.825
19        60 2020-12-19    103       123   323.000
20        45 2020-12-20     97       125   243.000
21        60 2020-12-21    108       131   364.200
23        60 2020-12-23    130       101   300.000
24        45 2020-12-24    105       132   246.000
25        60 2020-12-25    102       126   334.500
26        60 2020-12-26    100       120   250.000
27        60 2020-12-27     92       118   241.000
28        60 2020-12-28    103       132   895.825
29        60 2020-12-29    100       132   280.000
30        60 2020-12-30    102       129   380.300
31        60 2020-12-31     92       115   243.000

<h1>Practical 2